.contact.contact{
    height: min-content;
}

.contact.content .col{
   height: 700px;
}

.contact .left, .contact .right{
    font-family: "kranky" !important;
    font-style: normal;
}

.contact .slogan-left .left {
    font-size: 5rem;
}

#contact .slogan-right .right{
    font-size: 5rem !important;
}

#contact img{
    height: 40%;
    width: auto;
    top: 10%;
    position: relative;
    animation: imgFloat 6s ease-out infinite;
}

@keyframes imgFloat {
    0%, 100% {transform: translateY(25px);}
    50% {transform: translateY(-25px);}
}

/* form CSS */

#form-content {
    height: 90%;
    width: 75%;
}
#form-content::after {
    clear: both;
    display: block;
    content: '';
}
#form-content header {
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: 'Kranky', sans-serif;
}
#form-content form {
    margin: 30px 0;
    color: #000;
}

#form-content form input{
    margin-bottom: 10%;
}

/* Color Variables */
:root {
    --primary-color: #11998e;
    --secondary-color: #38ef7d;
    --white-color: #5e5e5e;
    --gray-color: #9b9b9b;
  }
  
  /* Form Group */
  .form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 100%;
  }
  
  /* Form Field */
  .form__field {
    font-family: 'Kranky', sans-serif;
    width: 100%;
    border: 0;
    border-bottom: 2px solid var(--gray-color);
    outline: 0;
    font-size: 1.3rem;
    color: var(--white-color);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.5s ease;
    resize: none;
  }
  
  .form__field::placeholder {
    color: transparent;
  }
  
  /* Form Label */
  .form__label {
    position: absolute;
    font-family: 'Kranky', sans-serif;
    top: -10px;
    display: block;
    transition: all 0.2s ease;
    font-size: 1.5rem;
    color: var(--gray-color);
  }
  
  /* Focus State */
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: all 0.2s ease;
    font-size: 1rem;
    color: var(--primary-color);
    font-weight: 700;
  }
  
  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    border-image-slice: 1;
  }
  
  /* Reset Input */
  .form__field:required,
  .form__field:invalid {
    box-shadow: none;
  }

  #form-content button {
    font-weight: 700;
    color: #111;
    border: 1px solid #fff;
    padding: 10px;
    font-size: 18px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
    border-radius: 5px;
    width: 40%;
    z-index: 1000;
  }

  /* Responsive CSS */

  @media screen and (width <= 768px) {
    .navbar-brand{
      display: none;
    }
    .title .slogan-left {
      top: 0;
    }
    #contact .title .slogan-right .right{
      font-size: 4rem !important;
    }
    #contact .col{
      height: 620px;
    }
  }

  @media screen and (width <= 375px) {
    .neon{
      margin-top: 10px;
    }
    .navbar .container{
      justify-content: center;
      flex-direction: column;
    }
    #contact img{
      height: 200px;
    }
    #form-content button {
      font-size: 10px;
    }
  }