@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Style to prevent body scrolling */
.no-scroll {
  overflow: hidden;
}

.about-modal .bio-section {
    background-color: black;
    color: lightgrey;
    height: 100%;
  }

  .about-modal .modal-body p{
    font-family: "Inter", sans-serif;
    width: 65%;
    font-size: 19px;
    transform: translateY(10%);
  }

  .about-modal .modal-body p span{
    display: flex;
    width: 82%;
  }

  .about-modal .modal-body h2{
    font-family: "Kranky";
    font-size: 3rem;
    transform: translateY(50%);
    width: 30%;
  }
  
  .about-modal .modal-content {
    border: none;
    overflow: hidden;
    height: 75vh;
    transform: translateY(50px);
    width: 30vw !important;
  }
  
  .about-modal .modal-body {
    padding: 0;
  }

  .about-modal .row{
    height: 100%;
  }

  .about-modal .modal-dialog{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
  }

  .about-modal .bio-section img{
    position: fixed;
    top: -5vh;
    right: -11vw;
  }

  .about-modal .bio-section .sign{
    position: relative;
    left: -2vh;
    transform: translateY(10vh);
    width: 30vh;
    z-index: 1;
  }

  @media screen and (901px <= width <= 1450px){

    .about-modal .modal-content {
      height: 100%;
      width: 80% !important;
    }

    .about-modal .modal-body h2{
      font-size: 2rem;
      width: 100%;
    }

    .about-modal .modal-body p{
      font-size: 12px;
      top: 0dvh;
      position: relative;
    }

    .about-modal .bio-section img{
      height: 100%;
      width: auto;
      transform: translate(-15%, 10%);
    }

    .about-modal .bio-section .sign{
      height: 100px;
      width: auto;
      transform: translate(50%,50%);
    }
  }