.modal-open .container-fluid, .modal-open  .container {
  filter: blur(25px);
}

.modal.fade.show {
  backdrop-filter: blur(25px);
}

/* Style to prevent body scrolling */
.no-scroll {
  overflow: hidden;
}

.bio-section {
    background-color: black;
    color: white;
    height: 100%;
  }

  .modal-body p{
    width: 70%;
  }

  .modal-body h2{
    font-family: "Kranky";
    font-size: 2.5rem;
  }
  
.image-section {
    background-color: black;
    background-size: cover;
    background-position: center;
  }
  
.modal-content {
    border: none;
    overflow: hidden;
    height: 75vh;
    transform: translateY(50px);
    width: 30vw !important;
  }
  
.modal-body {
    padding: 0;
  }

.row{
    height: 100%;
  }

  .modal-dialog{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
  }