    @media only screen 
    and (max-width: 1080px)
    and (-webkit-min-device-pixel-ratio: 2)   {
  
      nav.navbar {
        background-color: #121212;
      }
  
      nav.navbar .navbar-nav .nav-link.navbar-link {
        letter-spacing: 1.8px;
        padding: 5px 0px;
        font-size: 20px;
        margin-left: 40%
      }
  
      span.navbar-text {
        display: grid;
    }
  
      .social-icon {
        margin-left: auto;
        margin-bottom: 15px;
        margin-right: auto;
    }

    .navbar-text .navbar-link{
      text-align: center;
    }
  
    .navbar-text button {
      margin-left: auto;
      margin-right: auto;
    }
}
@media only screen and (768px < width <=1024px) {
.navbar-nav a.navbar-link.link{
  padding: 5px 20px !important;
}
}
@media only screen and (425px < width <=768px) {
  .neon{
    margin-top: 10px;
  }
  .navbar .navbar-nav .navbar-link{
    font-size: 18px !important;
    letter-spacing: 1px;
    padding: 1px 0px;

  }
  .navbar .navbar-nav{
    flex-direction: column !important;
  }
  .navbar button{
    font-size: 15px;
  }
}

@media only screen and (width <=425px) {
  .navbar-brand{
    display: none;
  }
  .neon{
    margin-top: 10px;
  }
  .navbar .container{
    justify-content: space-evenly !important;

  }
  .navbar .navbar-nav{
    align-items: center;
  }
  .navbar .navbar-nav .navbar-link{
    font-size: 15px !important;
    letter-spacing: 1.8px;
    padding: 5px 0px;
  }
  .social-icon {
    margin-left: 0%;
    margin-bottom: 10px;
    width: 100%;
    display: grid;
    justify-items: center;
  }
  .social-icon a{
    margin-bottom: 10px;
  }
  .navbar-text .navbar-link{
    display: grid;
    justify-items: center;
    justify-content: center;
  }
  .navbar-text button {
    margin-left: 0%;
  }
}