.vh-50{
  height: 50dvh;
  gap: 30px 0px;
}

  .project .project-content {
    position: relative;
    width: 100%;
    z-index: 1;
    overflow-x: hidden;
    background: #030f18;
  }


  .scroll-wrapper, .scroll-content {
  position: relative;
  width: 100%;
  z-index: 1;
}

.scroll-content {
  overflow-x: hidden;
}

.scroll-content .section {
  width: 100%;
  height: 100vh;
}


  .scroll-content .section.hero {
    background-image: url(../Images/2_edited.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .image-container{
    position: absolute;
    width: 100%;
    height: 101vh;
    z-index: 2;
    perspective: 500px;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }

  @media screen and (max-width:900px) {
    .project .image-container img {
      object-fit: contain;
    }

    .project .scroll-content .section.hero {
      background-size: contain;
    }

    .project .scroll-content{
      background: #030f18;
    }
  }

  .project .title{
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .project .left, .project .right{
    font-family: "Georgia" !important;
    font-style: normal;
}

.project .slogan-left .left {
    font-size: 5rem !important;
}

#project .slogan-right .right{
    font-size: 5rem !important;
}

  .base{ 
    width:400px; 
    height:300px;
    position: absolute;
    transform: translate(0%,0%) rotateX(65deg) rotateZ(55deg) skewX(20deg);
    transform-origin: center;
    z-index: -1;
    border-radius: 30px;
    transition: all 0.1s ease-in-out;
  }

  .base::before{
    content: '';
    position: absolute;
    display: block;
    width:400px; 
    height:300px;
    transform: translate(0%,0%) rotateX(0deg) rotateZ(0deg) skewX(0deg);
    transform-origin: center;
    border-radius: 30px;
  }

  .base::after{
    content: '';
    position: absolute;
    display: block;
    transition: all 0.1s ease-in-out;
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: 30px;
    right: 0px; /* Thickness of side */
    transform: skewY(0deg) translate(10px, 10px); /* To give a 3D effect */
    transform-origin: right;
    z-index: -10; /* Behind the button */
  }

  .project-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease-in-out;
    height: 300px;
  }

  .project-item-active{
    content: '';
    position: absolute;
    height: 300px;
    width: 400px;
    transform: translate(0%,0%) rotateX(65deg) rotateZ(55deg) skewX(20deg);
    z-index: 1;
  }

  .lottie-figure{
    transition: all 0.1s ease-in-out;
    height: auto;
    width: 350px;
    transform: translate(0px, -30px);
    z-index: -1;
  }

  

  .project-item-active:active ~ .base{
    transform: translate(0%,0%) rotateX(65deg) rotateZ(55deg) skewX(20deg) translateZ(-5px);
  }
  .project-item-active:active ~ .base::after{
    transform: skewY(0deg) translate(5px, 5px); /* To give a 3D effect */
  }
  .project-item-active:active ~ .lottie-figure{
    transform: translate(0px, -25px);
  }

.project-title {
  position: absolute;
  width: 210px;
  height: 70px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23px; /* Adjust the size as per design */
  letter-spacing: .3rem;
  font-family: "Kranky";
  font-weight: bold;
  color: black; /* Color of the text */
  background-color: white;
  padding: 5px 10px;
  text-transform: uppercase;
  border-radius: 10px;
  transition: all 0.1s ease-in-out;
  transform: translate(1dvw, 130px);
  transform-origin: center;
  z-index: 1000;
  }
  .project-item-active:active ~ .project-title{
    transform: translate(1dvw, 135px);
  }

  .project-title::before{
    content:"";
    position: absolute;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    width: 100%;
    height: 100%;
    top: 0;
    border: 2px solid white;
    border-radius: 10px;
    right: 0px; /* Thickness of side */
    z-index: 1;
  }


#project-3 video{
  width: 240px;
  height: auto;
  transform: translate(3dvw, 0dvh) rotateZ(46deg) skew(220deg, -30deg) scale(0.9);
  border-radius: 44%;
}
#project-3 .video-base{
  position: absolute;
  height: 180px;
  width: 250px;
  background-color: transparent;
  border-radius: 10%;
  z-index: 1;
  transform: translate(47px,-18dvh) rotateX(65deg) rotateZ(55deg) skewX(20deg);
  box-shadow:
  6px 6px 0px #0695dd,
  12px 12px 0px #0695dd;
}

.modal-header {
  font-family: "Georgia";
}

.modal-body p{
  font-family: "Georgia";
}

.project-modal-content a {
  font-weight: 700;
  font-family: 'Times New Roman', Times, serif;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px;
  font-size: 18px;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
  border-radius: 0%;
}
.project-modal-content a span {
  z-index: 1;
}
.project-modal-content a::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.project-modal-content a:hover {
  color: #121212;
}
.project-modal-content a:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
}

/* Figure Sizes */
.project-modal-content #project-1 .lottie-figure{
  width: 100%;
  transform: translate(0);
}

#project-2 .lottie-figure{
  width: 45%;
  transform: translate(5px, -70px);
}
#project-2 .project-item-active:active ~ .lottie-figure{
  transform: translate(5px, -65px);
}
.project-modal-content #project-2 .lottie-figure{
  width: 100%;
  transform: translate(-10px, -50px);
}

#project-3 .lottie-figure{
  transform: translate(0px, 0px);
}
#project-3 .project-item-active:active ~ .lottie-figure{
  transform: translate(0px, 5px);
}
.project-modal-content #project-3 video{
  height: 300px;
  transform: translate(5dvw, 0dvh) rotateZ(46deg) skew(220deg, -30deg) scale(0.9);
}
.project-modal-content #project-3 .video-base{
  transform: translate(85px,-28dvh) rotateX(65deg) rotateZ(55deg) skewX(20deg);
}

#project-4 .lottie-figure{
  width: 200px;
  transform: translate(0px, 0px);
}
#project-4 .project-item-active:active ~ .lottie-figure{
  transform: translate(0px, 5px);
}
.project-modal-content #project-4 .lottie-figure{
  transform: translate(100px, 0px);
}

#project-5 .lottie-figure{
  width: 200px;
  transform: translate(0px, -50px);
}
#project-5 .project-item-active:active ~ .lottie-figure{
  transform: translate(0px, -45px);
}
.project-modal-content #project-5 .lottie-figure{
  transform: translate(100px, 0px);
}

#project-6 .lottie-figure{
  width: 250px;
  transform: translate(0px, -70px);
}
#project-6 .project-item-active:active ~ .lottie-figure{
  transform: translate(0px, -65px);
}
.project-modal-content #project-6 .lottie-figure{
  transform: translate(50px, 0px);
}

#project-9 .lottie-figure{
  width: 150px;
  transform: translate(0px, -20px);
}
#project-9 .project-item-active:active ~ .lottie-figure{
  transform: translate(0px, -15px);
}
.project-modal-content #project-9 .lottie-figure{
  transform: translate(100px, 0px);
}

#project-8 .lottie-figure{
  width: 400px;
  transform: translate(0px, -85px);
}
#project-8 .project-item-active:active ~ .lottie-figure{
  transform: translate(0px, -80px);
}
.project-modal-content #project-8 .lottie-figure{
  transform: translate(0px, -50px);
  height: 300px;
}

#project-7 .lottie-figure{
  width: 300px;
  transform: translate(0px, -50px);
}
#project-7 .project-item-active:active ~ .lottie-figure{
  transform: translate(0px, -45px);
}
.project-modal-content #project-7 .lottie-figure{
  transform: translate(20px, 0px);
}

#project-10 .lottie-figure{
  width: 300px;
  transform: translate(0px, -20px);
}
#project-10 .lottie-figure .part-2{
  transform: translate(100px, -120px);
}
#project-10 .project-item-active:active ~ .lottie-figure{
  transform: translate(0px, -15px);
}
.project-modal-content #project-10 .lottie-figure{
  transform: translate(0px, -50px);
  height: 250px;
}
.project-modal-content #project-10 .lottie-figure .part-2{
  transform: translate(100px, -100px);
}


/* Base and Button Colors for various projects */
#project-1 .base::before{
  background-color:wheat;
  border: 4px solid white;  
}
#project-1 .base::after{
  background-color:rgb(255, 205, 112);
  box-shadow:
    5px 5px 0px rgb(255, 205, 112),
    10px 10px 0px rgb(255, 205, 112);
}
#project-1 .project-title::before{
  border: 4px solid rgb(255, 205, 112);
  box-shadow: 0px -10px 0px rgb(255, 205, 112);
}

#project-2 .base::before{
  background-color: lightgrey;
  border: 4px solid white;
}
#project-2 .base::after{
  background-color: grey;
  box-shadow:
  5px 5px 0px grey,
  10px 10px 0px grey;
}
#project-2 .project-title::before{
  border: 4px solid gray;
  box-shadow: 0px -10px 0px gray;
}

#project-3 .base::before{
  background-color: black;
  border: 4px solid white;
}
#project-3 .base::after{
  background-color: #0695dd;
  box-shadow:
  5px 5px 0px #0695dd,
  10px 10px 0px #0695dd;
}
#project-3 .project-title::before{
  border: 4px solid #0695dd;
  box-shadow: 0px -10px 0px #0695dd;
    
}

#project-4 .base::before{
  background-color: rgb(155, 85, 187);
  border: 4px solid white;
}
#project-4 .base::after{
  background-color: rgb(105, 58, 127);
  box-shadow:
  5px 5px 0px rgb(105, 58, 127),
  10px 10px 0px rgb(105, 58, 127);
}
#project-4 .project-title::before{
  border: 4px solid rgb(105, 58, 127);
  box-shadow: 0px -10px 0px rgb(105, 58, 127);
}

#project-5 .base::before{
  background-color: pink;
  border: 4px solid white;
}
#project-5 .base::after{
  background-color: rgb(175, 109, 119);
  box-shadow:
  5px 5px 0px rgb(175, 109, 119),
  10px 10px 0px rgb(175, 109, 119);
}
#project-5 .project-title::before{
  border: 4px solid rgb(175, 109, 119);
  box-shadow: 0px -10px 0px rgb(175, 109, 119);
}

#project-6 .base::before{
  background-color: rgb(180, 143, 95);
  border: 4px solid white;
}
#project-6 .base::after{
  background-color: rgb(117, 86, 45);
  box-shadow:
  5px 5px 0px rgb(117, 86, 45),
  10px 10px 0px rgb(117, 86, 45);
}
#project-6 .project-title::before{
  border: 4px solid rgb(117, 86, 45);
  box-shadow: 0px -10px 0px rgb(117, 86, 45);
}

#project-9 .base::before{
  background-color: orange;
  border: 4px solid white;
}
#project-9 .base::after{
  background-color: darkorange;
  box-shadow:
  5px 5px 0px darkorange,
  10px 10px 0px darkorange;
}
#project-9 .project-title::before{
  border: 4px solid darkorange;
  box-shadow: 0px -10px 0px darkorange;
}

#project-9 .project-title{
  font-size: 20px;
}
#project-8 .base::before{
  background-color: #5d97e7;
  border: 4px solid white;
}
#project-8 .base::after{
  background-color: #1555ad;
  box-shadow:
  5px 5px 0px #1555ad,
  10px 10px 0px #1555ad;
}
#project-8 .project-title::before{
  border: 4px solid #1555ad;
  box-shadow: 0px -10px 0px #1555ad;
}

#project-7 .base::before{
  background-color: lightgray;
  border: 4px solid white;
}
#project-7 .base::after{
  background-color: rgb(71, 147, 142);
  box-shadow:
  5px 5px 0px rgb(71, 147, 142),
  10px 10px 0px rgb(71, 147, 142);
}
#project-7 .project-title::before{
  border: 4px solid rgb(71, 147, 142);
  box-shadow: 0px -10px 0px rgb(71, 147, 142);
}

#project-10 .base::before{
  background-color: olive;
  border: 4px solid white;
}
#project-10 .base::after{
  background-color: olivedrab;
  box-shadow:
  5px 5px 0px olivedrab,
  10px 10px 0px olivedrab;
}
#project-10 .project-title::before{
  border: 4px solid olivedrab;
  box-shadow: 0px -10px 0px olivedrab;
}

@media screen and (width <= 768px){
  .scroll-content .section{
    height: 101dvh;
  }
  .project-modal-content{
    flex-direction: column;
  }
  .project-modal-content .lottie-figure, .project-modal-content video, .project-modal-content .video-base{
    display: none;
  }
  
}

@media screen and (width <= 768px){
  #project .title .slogan-right .right, #project .title .slogan-left .left{
    font-size: 2rem !important;
  }
  #project .title .slogan-left{
    top: 0;
    margin-right: 20px;
  }
  .project-item .base{
    height: 200px;
    width: 250px;
  }.base::before{
    content: '';
    width: 250px;
    height: 200px;
  }
  .lottie-figure{
    width: 200px; 
    transform: translate(0px, -20px);
  }
  #project-2 .lottie-figure{
    width: 200px;
    transform: translate(0px, -50px);
  }
  #project-3 video{
    width: 140px;
    transform: translate(10dvw, 0dvh) rotateZ(46deg) skew(220deg, -30deg) scale(0.9);
  }
  #project-3 .video-base{
    width: 160px;
    height: 130px;
    transform: translate(27px, -15dvh) rotateX(65deg) rotateZ(55deg) skewX(20deg);
  }
  #project-4 .lottie-figure, #project-5 .lottie-figure{
    width: 150px;
  }
  #project-6 .lottie-figure{
    width: 200px;
  }
  #project-7 .lottie-figure{
    width: 200px;
    transform: translateY(-35px);
  }
  #project-8 .lottie-figure{
    width: 250px;
    transform: translateY(-20px);
  }
  #project-9 .lottie-figure{
    width: 100px;
  }
  #project-10 .lottie-figure{
    width: 200px;
    transform: translateY(10px);
  } #project-10 .lottie-figure .part-2{
    transform: translate(60px, -80px);
  }
}

@media screen and (width <= 375px) {
  #project-3 video{
    width: 140px;
  }
}
@media screen and (425px < width <= 768px) {
  #project-3 video{
    transform: translate(5dvw, 0dvh) rotateZ(46deg) skew(220deg, -30deg) scale(0.9);
  }
}
@media screen and (768px < width <= 1024px) {
  #project-3 video{
    width: 190px;
    transform: translate(8dvw, 0dvh) rotateZ(46deg) skew(220deg, -30deg) scale(0.9);
  }#project-3 .video-base{
    transform: translate(50px, -20dvh) rotateX(65deg) rotateZ(55deg) skewX(20deg);
  }
  .modal-content .project-modal-content video{
    transform: translate(10dvw, 5dvh) rotateZ(46deg) skew(220deg, -30deg) scale(0.9) !important;
  }
  .modal-content .project-modal-content .video-base{
    transform: translate(70px, -30dvh) rotateX(65deg) rotateZ(55deg) skewX(20deg) !important;
  }
}
@media screen and (1024px < width <= 1440px) {
  #project-3 video{
    width: 200px;
    transform: translate(5.5dvw, -1.5dvh) rotateZ(46deg) skew(220deg, -30deg) scale(0.9);
  }#project-3 .video-base{
    transform: translate(50px, -20dvh) rotateX(65deg) rotateZ(55deg) skewX(20deg);
  }
  .modal-content .project-modal-content video{
    transform: translate(7dvw, 0dvh) rotateZ(46deg) skew(220deg, -30deg) scale(0.9) !important;
  }
  .modal-content .project-modal-content .video-base{
    transform: translate(70px, -30dvh) rotateX(65deg) rotateZ(55deg) skewX(20deg) !important;
  }
}
@media screen and (1920px < width){
  .prj-col{
    width: 25% !important;
  }
  .title .slogan-left .left{
    font-size: 5rem !important;
  }
  #project-3 video{
    width: 170px;
    transform: translate(4dvw, 0dvh) rotateZ(46deg) skew(220deg, -30deg) scale(0.9);
  }#project-3 .video-base{
    transform: translate(50px, -13dvh) rotateX(65deg) rotateZ(55deg) skewX(20deg);
  }
  .modal-content .project-modal-content video{
    transform: translate(4.5dvw, 0dvh) rotateZ(46deg) skew(220deg, -30deg) scale(0.9) !important;
  }
  .modal-content .project-modal-content .video-base{
    transform: translate(65px, -22dvh) rotateX(65deg) rotateZ(55deg) skewX(20deg) !important;
  }
  
}

.custom-arrow{
  position: absolute;
  color: white;
  background-color: rgba(27, 159, 150, 0.75);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  backdrop-filter: blur(2px);
}
.arrow-left{
  left: 15px;
}
.arrow-right{
  right: 15px;
}