:root {
  --font-size-min: 14;
  --font-size-max: 20;
  --font-ratio-min: 1.1;
  --font-ratio-max: 1.33;
  --font-width-min: 375;
  --font-width-max: 1500;
}

:where(.fluid) {
  --fluid-min: calc(
    var(--font-size-min) * pow(var(--font-ratio-min), var(--font-level, 0))
  );
  --fluid-max: calc(
    var(--font-size-max) * pow(var(--font-ratio-max), var(--font-level, 0))
  );
  --fluid-preferred: calc(
    (var(--fluid-max) - var(--fluid-min)) /
      (var(--font-width-max) - var(--font-width-min))
  );
  --fluid-type: clamp(
    (var(--fluid-min) / 16) * 1rem,
    ((var(--fluid-min) / 16) * 1rem) -
      (((var(--fluid-preferred) * var(--font-width-min)) / 16) * 1rem) +
      (var(--fluid-preferred) * var(--variable-unit, 100vi)),
    (var(--fluid-max) / 16) * 1rem
  );
  font-size: var(--fluid-type);
}

.skillscroll-container {
  display: grid;
  width: 100%;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Geist', 'SF Pro Text', 'SF Pro Icons', 'AOS Icons',
      'Helvetica Neue', Helvetica, Arial, sans-serif, system-ui;
  color-scheme: dark;

  h2{
    position: relative;
  font-size: inherit;
  margin: 0;
  display: inline-block;
  height: fit-content;
  font-weight: 600;
  --font-level: 6;
  background: linear-gradient(
      canvasText 50%,
      color-mix(in oklch, canvas, canvasText 25%)
    );
  background-clip: text;
  color: #0000;
  }

  .fluid{
    display: flex;
    align-items: flex-start;
    --font-level: 6;
    line-height: 1.25;
    width: 100%;
    padding-top: 100px;
  }

  ul {
    font-weight: 600;
    padding-inline: 0;
    margin: 0;
    list-style-type: none;
    top: calc(4.5% - 0.5lh);
    position: relative;
    --step: calc((var(--end) - var(--start)) / (var(--count) - 1));
  }

  li{
    scroll-snap-align: center;
    color: oklch(
      var(--lightness) var(--base-chroma)
        calc(var(--start) + (var(--step) * var(--i)))
    );
  }
}

.skillscroll-container::before {
  --size: 45px;
  --line: color-mix(in hsl, canvasText, transparent 70%);
  content: '';
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: linear-gradient(
        90deg,
        var(--line) 1px,
        transparent 1px var(--size)
      )
      50% 50% / var(--size) var(--size),
    linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% /
      var(--size) var(--size);
  mask: linear-gradient(-20deg, transparent 50%, white);
  top: 0;
  transform-style: flat;
  pointer-events: none;
  z-index: -1;
}