.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.card-container {
    position : relative;
    width : 100%;
    display : flex;
    align-items : center;
    justify-content : center;
    flex-wrap : wrap;  
  }

.skills .card{
    height: 210px;
    width: 400px;
    justify-content: center;
    align-items: center;
    margin : 30px 10px;
    padding : 20px 15px;
    display : flex;
    flex-direction : column;
    box-shadow : 0 5px 20px rgba(0,0,0,0.5);
    transition : 0.3s ease-in-out;
    border-radius : 15px;
    background-color: lightsalmon;
}

.skills .card:hover{
    transform: translateY(-100px) rotateZ(3deg);
    height : 600px; 
}

.skills #card-2:hover, .skills #card-4:hover{
    transform: translateY(-100px) rotateZ(-3deg);
}

.skills .card .image {
    position : relative;
    width : 220px;
    height : 220px;
    top : 30%;
    box-shadow : 0 5px 20px rgba(0,0,0,0);
    background-color: transparent;
    z-index : 1;
    border-radius : 15px;
    transition : 0.3s ease-in-out;
    padding: 5%;
  }
  
  .skills .card .image img {
    max-width : 100%;
    border-radius : 15px;
  }
  
  .skills .card .card-content {
    position : relative;
    top : -100px;
    padding : 10px 15px;
    color : #111;
    text-align : center;
    visibility : hidden;
    opacity : 0;
    transition : 0.3s ease-in-out;
      
  }

  .skills .card:hover .image{
    top : -20%;
  }
  
  .skills .card:hover .card-content {
    top: -8%;
     margin-top : 0px;
     visibility : visible;
     opacity : 1;
     transition-delay: 0.2s;
    
  }

  .skills .card h3{
    text-align: center;
    font-family: "Kranky";
    font-weight: 700;
    font-size: 2rem;
}

.list-group{
  font-family: 'Kranky';
  font-weight: 600;
  font-size: 1.2rem;
}

.list-group-item{
  background-color: transparent !important;
  border-color: transparent !important;
  transition: 0.2s ease-in-out;
}

.list-group-item:hover{
  transform: scale(1.2);
  
}

#card-1 .image{
  background-color: transparent;;
}

#card-3 .image{
  top: 20%;
}
#card-3:hover .image{
  top: -20%;
}

#card-4 .image{
  background-color: transparent;
  top: 0;
}
#card-4:hover .image{
  top: -30%;
}

#card-2 .image{
  background-color: transparent;
}

