@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.hidden {
    opacity:0;
  }
  .console-container {
    font-family: "Special Elite";
    font-size:4em;
    text-align:center;
    height:200px;
    display:flex;
    flex-wrap: wrap;
    position:relative;
    color:black;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
  }
  .console-underscore {
     display:inline-block;
    position:relative;
    top:-0.14em;
    left:10px;
  }

  /* Scramble Text CSS */

  .container-scramble{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 35vh;
  }
  

  .text{
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 4rem;
    color: black;
  }
  
.dud{
  color: white;
}
  



/* Rotating Text CSS */

 .container-rotate {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  font-size: 4rem;
  font-family: Lato, sans-serif;
  font-weight: 600;
  color: white;
}

 .text-1 {
  position: absolute;
  width: 450px;
  left: 50%;
  margin-left: -225px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
}

.container-rotate p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.container-rotate .word {
  position: absolute;
  width: 220px;
  opacity: 1;
}

/*.container-rotate .letter {
  display: inline-block;
  position: relative;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  opacity: 1;
  transform: RotateX(0);
}

.letter.out {
  opacity: 0;
  transform: rotateX(-90deg);
} */

.wisteria {
  color: #8e44ad;
}

.belize {
  color: #2980b9;
}

.pomegranate {
  color: #c0392b;
}

.green {
  color: #16a085;
}

.midnight {
  color: #2c3e50;
}