@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

:root{
  --navNeon: "Yellowtail", "Adjusted Verdana Fallback", "Verdana", sans-serif;
}


.hidden {
    opacity:0;
  }
  .console-container {
    font-family: "Special Elite";
    font-size:4em;
    text-align:center;
    height:200px;
    display:flex;
    flex-wrap: wrap;
    position:relative;
    color:black;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
  }
  .console-underscore {
     display:inline-block;
    position:relative;
    top:-0.14em;
    left:10px;
  }

  /* Scramble Text CSS */

  .container-scramble{
    position: relative;
    width: 100%;
    height: 35vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  

  .text{
    font-family: 'Georgia', monospace;
    font-weight: 400;
    font-size: 3rem;
    color: black;
  }
  
.dud{
  color: white;
}
  



/* Rotating Text CSS */

 .container-rotate {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  top: 8vh;
  position: relative;
}

.container-rotate h1{
  font-size: 4rem;
  font-family: Lato, sans-serif;
  color: white;
  font-weight: 600;
  overflow: hidden;
  display: ruby;
  height: 6vh;
}

.container-rotate h1 .text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 600;
  text-transform: uppercase;
}

.text span{
  position: relative;
  animation: animation 10s ease infinite;
}

@keyframes animation {
  0%, 100% { transform: translateY(0) rotateZ(-10deg);  }
  20% { transform: translateY(0); }
  23% { transform: translateY(-100%) rotateZ(10deg); }
  40% { transform: translateY(-100%); }
  43% { transform: translateY(-200%) rotateZ(10deg); }
  60% { transform: translateY(-200%); }
  63% { transform: translateY(-300%) rotateZ(10deg); }
  80% { transform: translateY(-300%); }
  83% { transform: translateY(-400%) rotateZ(10deg); }
  97% { transform: translateY(-400%); }

}


#w-1 {
  color: #8e44ad;
}

#w-2 {
  color: #2980b9;
}

#w-3 {
  color: #c0392b;
}

#w-4 {
  color: #16a085;
}

#w-5 {
  color: #577ca1;
}


/* Neon Text CSS */


.neon {
  z-index: 1000;
  position: relative;
  visibility: visible;
  opacity: 1;
  display: flex;
  font-family: "Yellowtail";
  color: #fff;
  transition: 100ms ease-in;
}


.neon span {
  display: table-cell;
  margin: 0;
  padding: 0;
  font-family: var(--navNeon);
  font-size: clamp(2.5rem, 1.5vw, 1.5rem);
  color: #646464;
}

.neon .neon-animate{
  animation: neonGlow 3s linear infinite;
  animation-delay: 3s;
}

.neon span:nth-child(1), .neon span:nth-child(2), .neon span:nth-child(4) {
  animation-delay: 4s;
}

 .neon span:nth-child(3) {
  animation-delay: 4.2s;
}

 .neon span:nth-child(2) {
  animation-delay: 5s;
}

 .neon span:nth-child(6) {
  margin-right: 1dvw !important;
  animation-delay: 5.45s;
}

 .neon span:nth-child(7),  .neon span:nth-child(8),  .neon span:nth-child(9) {
  animation-delay: 5.75s;
}

@keyframes neonGlow {
  0%, 100% {
      text-shadow: 0 0 10px #43b7ff, 0 0 20px #43b7ff, 0 0 40px #43b7ff, 0 0 50px #43b7ff, 0 0 60px #43b7ff;
      color: #abe1fe;
      filter: blur(2px);
  }

  5%, 95% {
      text-shadow: 0;
      color: #fff;
      filter: blur(0px);
  }
}

@media screen and (376px <= width <= 900px) {
  .container-scramble .text {
    font-size: 2rem;
  }
}

@media screen and (max-width: 375px) {
  .container-scramble .text {
    font-size: 1.5rem;
  }
}
