.volumeSliderContainer {
  width: auto;
  height: 100%;
  position: relative;
  z-index: 10001;
  margin-left: 0px;
  right: -50px;
}

.p5Canvas{
  position: relative;
  z-index: 10001;
  cursor: none !important;
  top: 0;
}

@media (max-width:1200px) {
  .volumeSliderContainer {
    right: 50px;
    text-align: center;
  }
}

@media (max-width:900px) {
  .volumeSliderContainer {
    right: -15px;
    margin-top: 10px;
    text-align: center;
  }

  .p5Canvas{
    width: 500px !important;
    height: 75px !important;
  }
}